<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.lime.min.css">
    <title>WeathernewsPollens</title>
    <style>
        li{
            margin-bottom: 1em;
        }
    </style>
</head>

<body>
    <header>
        <h1>WeathernewsPollens</h1>
    </header>
    <main>
        <ul>
        {% for code, name in cities.items() %}
	<li><a href="{{ url_for('today', citycode=code) }}">{{ name }} ({{ code }})</a></li>
        {% endfor %}
    </ul>
    </main>
    <footer>
        <a href="https://github.com/Mya-Mya/WeathernewsPollens" target="_blank">GitHub</a>
    </footer>


</body>

</html>
